@media screen and (max-width: 1000px){
    /* body{
        background-color: red;
    } */
    nav{
        flex-direction: column;
    }
    .slider{
        height: 33vh;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
    }
    .search input{
        margin: 12px 16px;
    }
    nav ul{
        height: 34px;
    }
    .card-item
    {
        width: 140px;
    }
}